/*CUSTOM FONTS*/
@font-face {
    font-family: 'nautilus_pompiliusregular';
    src: url('fonts/nautilus-webfont.woff2') format('woff2'),
         url('fonts/nautilus-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alex_brushregular';
    src: url('fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('fonts/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*MAIN STYLING*/
html
{
    overflow-x:hidden;
}

body{
    background-image: url("images/background.jpg");
    background-position-y: 25%;
}

/*INDEX STYLING*/
#nav-holder{
    display:block;
    background: rgba(109,225,255, 0.6);
    background: linear-gradient(
    65deg, rgba(109,225,255,0.7) 0%, 
    rgba(97,124,231,0.7) 29%, rgba(29,108,87,0.7) 57%, 
    rgba(138,110,144,0.7) 71%, rgba(17,61,153,0.7) 100%);
    backdrop-filter: blur(6px);
    position:sticky;
    top:0vw;
    width:98vw;
    margin:auto;
    border:1px solid black;
    background-size: 200% 200%;
    animation: Animation 10s ease infinite;
    overflow:hidden;
}

#nav-holder-alt{
    display:none;
    background: rgba(109,225,255, 0.6);
    background: linear-gradient(
    65deg, rgba(109,225,255,0.7) 0%, 
    rgba(97,124,231,0.7) 29%, rgba(29,108,87,0.7) 57%, 
    rgba(138,110,144,0.7) 71%, rgba(17,61,153,0.7) 100%);
    backdrop-filter: blur(6px);
    top:0vw;
    width:98vw;
    margin:auto;
    border:1px solid black;
    background-size: 200% 200%;
    animation: Animation 10s ease infinite;
    position: relative;
    z-index:1;
}

#drop-btn > button{
    width:100%;
    padding-bottom:2vh;
}

/*Change the width of dropdown menu
 source: https://stackoverflow.com/questions/23042182/increase-bootstrap-dropdown-menu-width*/
.dropdown-menu{
    width:100%;
}

.dropdown-menu > li > a{
    font-family: "nautilus_pompiliusregular", Arial, Helvetica, sans-serif;
    font-size:20px;
    padding:2vh;
    border-bottom:2px solid rgba(100,100,100,0.6);
}

#nav-holder > nav > ul > li
{
    list-style: none;
}

#nav-holder > nav > ul > li > a{ 
    font-family: "nautilus_pompiliusregular", Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size:25px;
    transition: font-size 0.2s;
    margin-top:1.7vh;
}

#nav-holder > nav > ul > li > a:link{
    color:white;
}

#nav-holder > nav > ul > li > a:visited{
    color:white;
}

#nav-holder > nav > ul > li > .nav-link:hover{
    color:crimson;
    font-size: 29px;
}

#nav-holder > #nav-top > #nav-list{
    display:flex; 
    flex-direction:row;
    justify-content: space-evenly;
    align-items: baseline;
    margin:auto;
    padding:0;
}

#nav-holder > nav > ul > li > a > i
{
    color:white;
    margin-top:1.9vh;
    transition: color 1s;
    font-size:25px;
}

#nav-holder > nav > ul > li > a > i:hover
{   
    color:crimson;
    animation-name: icon_hover;
    animation-duration: 2s;
    animation-iteration-count:1;
}

#index-main
{
    display:block;
    background: rgba(109,225,255, 0.6);
    background: linear-gradient(
    65deg, rgba(109,225,255,0.7) 0%, 
    rgba(97,124,231,0.7) 29%, rgba(29,108,87,0.7) 57%, 
    rgba(138,110,144,0.7) 71%, rgba(17,61,153,0.7) 100%);
    backdrop-filter: blur(5px);
    width:98vw;
    height:100vh;
    margin:auto;
    border:1px solid black;
    background-size: 200% 200%;
    animation: Animation 10s ease infinite;
}

#index-text{
    margin-top: 18vh;
    display: flex;
    align-items: first baseline;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-left: 5vw;
    align-content: stretch;
}

.headline{
    font-size:120px;
    font-family: "alex_brushregular", Arial, Helvetica, sans-serif;
    font-weight:bold;
    max-width:70%;
    color:white;
}

.subheadline{
    font-size:45px;
    font-family: "ralewaysemibold", Arial, Helvetica, sans-serif;
    max-width:40%;
    margin-left:45vw;
    color:white;
}

/*ABOUT STYLING*/

#about-text{
    margin-top:18vh;
    display:flex;
}

#lang_select{
    margin-top:1vh;
    margin-left:1.5vh;
}

#lang_select > label{
    font-family: "ralewaysemibold", Arial, Helvetica, sans-serif;
    color:white;
}

#lang_select > label:hover{
    background-color:rgba(255,255,255,0.2);
    backdrop-filter:blur(15px)
}

.paragraph{
    font-size:20px;
    font-family: "ralewaysemibold", Arial, Helvetica, sans-serif;
    color:white;
    border: 1px double black;
    width:85%;
    margin:auto;
    padding:5vw;
    background:rgba(100,100,100,0.6);
    backdrop-filter: blur(20px);
}

/*PROJECT STYLING*/

#content{
    height:70%;
}

#projects{
    height:100%;
    margin:0;
}

#projects_btns{
    display:flex;
    align-items: baseline;
    width:90%;
    margin:auto;
}

#content > #projects_btns > button{
    margin-top:2vh;
    color:white;
    padding:0;
    font-size:30px;
    transition: font-size 0.1s;
}

#content > #projects_btns > span{
    font-family: "ralewaysemibold", Arial, Helvetica, sans-serif;
    color:white;
    font-size: 30px;
    padding:2vw;
    text-align:center;
}

#content > #projects_btns > button:hover{ 
    font-size:33px;
    background-color:rgba(255,255,255, 0.1);
}

#content > #projects_btns > button:active{ 
    background-color: rgba(255,255,255, 0.6);
    backdrop-filter: blur(10px);
}

#project_library{
    width:45%;
    height:100%;
    margin:auto;
    overflow:hidden;
}

/*Use border radius to change the shape 
  Source: https://www.w3schools.com/css/css3_borders.asp*/
/*Box Shadows: https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow
* Style source: https://getcssscan.com/css-box-shadow-examples*/
.project_item{
    width: 100%;
    height: 100%;
    background: rgb(5,3,32);
    background: linear-gradient(21deg, 
        rgba(5,3,32,0.3) 0%,
        rgba(26,24,54,0.3) 50%, 
        rgba(64,64,149,0.3) 82%,
        rgba(78,112,182,0.3) 100%);
    backdrop-filter:blur(20px);
    border-radius: 5%;
    border:1px solid black;
    overflow:hidden;
    margin:auto;
}

.anchor_prop{
    display:block;
    position: absolute;
    text-decoration:none;
    width:100%;
    height:100%;
}

/*Text shadow: https://www.cssportal.com/css3-text-shadow-generator/*/
.project_title{
    display:block;
    font-family: "ralewaysemibold", Arial, Helvetica, sans-serif;
    color:white;
    text-align: center;
    width:90%;
    margin:auto;
    margin-top:5%;
    text-shadow: 0px 0px 19px rgba(0, 0, 0, 1);
    font-size:25px;
}

.project_picture{
    display:block;
    width:75%;
    height:75%;
    margin:auto;
    margin-top:2%;
    border: 5px solid rgba(64,64,149,0.8);
    border-radius:5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
        rgba(0, 0, 0, 0.12) 0px -12px 30px, 
        rgba(0, 0, 0, 0.12) 0px 4px 6px, 
        rgba(0, 0, 0, 0.17) 0px 12px 13px, 
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#projects{
    display:flex;
}

#next_card, #previous_card{
    font-size: 40px;
    color:white;
}

#next_card:hover, #previous_card:hover{ 
    font-size:40px;
    background-color: rgba(255,255,255 ,0.1);
    backdrop-filter: blur(10px);
}

/*KEYFRAMES*/
@keyframes icon_hover{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}

@keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

@keyframes cardAnimLeft{
    0%{margin-left:0%; margin-top:auto; margin-bottom:auto;}
    100%{margin-left:-150%; margin-top:auto; margin-bottom:auto;}
}

@keyframes cardAnimRight{
    0%{margin-right:25%; margin-top:auto; margin-bottom:auto;}
    100%{margin-right:-150%; margin-top:auto; margin-bottom:auto;}
}

/*RESPONSIVE DESIGN*/
@media screen and (max-width:900px){
    .headline{
        font-size:80px;
    }

    .subheadline{
        font-size:40px;
    }
}

@media screen and (max-width:600px){
    #project_library{
        width:80%;
        height:70%;
    }
    
    #content > #projects_btns > span{
        font-size:25px;
    }

    #nav-holder > nav > ul > li > a > i{
        font-size:17px;
    }

    #nav-holder > nav > ul > li > a{ 
        font-size:19px;
    }
    
    .headline{
        font-size:50px;
    }

    .subheadline{
        font-size:20px;
    }

    #nav-holder-alt{
        display:block;
    }
    
    #nav-holder{
        display:none;
    }
}
