@font-face {
    font-family: 'nautilus_pompiliusregular';
    src: url('fonts/nautilus-webfont.woff2') format('woff2'),
         url('fonts/nautilus-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alex_brushregular';
    src: url('fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('fonts/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html
{
    overflow:hidden;
}

body{
    background-image: url("background.jpg");
}

#nav-holder{
    display:block;
    background: rgba(109,225,255, 0.6);
    background: linear-gradient(
    65deg, rgba(109,225,255,0.6) 0%, 
    rgba(97,124,231,0.6) 29%, rgba(29,108,87,0.6) 57%, 
    rgba(138,110,144,0.6) 71%, rgba(17,61,153,0.6) 100%);
    backdrop-filter: blur(6px);
    position:sticky;
    top:0vw;
    width:98vw;
    margin:auto;
    border:1px solid black;
}

#nav-holder > nav > ul > li
{
    list-style: none;
}

#nav-holder > nav > ul > li > a{ 
    font-family: "nautilus_pompiliusregular", arial;
    text-decoration: none;
    font-size:2rem;
    transition: font-size 0.2s;
    margin-top:1.3vh;
}

#nav-holder > nav > ul > li > a:link{
    color:white;
}

#nav-holder > nav > ul > li > a:visited{
    color:white;
}

#nav-holder > nav > ul > li > .nav-link:hover{
    color:crimson;
    font-size: 2.2rem;
}

#nav-list{
    display:flex; 
    flex-direction:row;
    justify-content: space-evenly;
}

i
{
    color:white;
    margin-top:2vh;
    transition: color 1s;
}

i:hover
{   
    color:crimson;
    animation-name: icon_hover;
    animation-duration: 2s;
    animation-iteration-count:1;
}

#index-main
{
    display:block;
    background: rgba(109,225,255, 0.6);
    background: linear-gradient(
    65deg, rgba(109,225,255,0.6) 0%, 
    rgba(97,124,231,0.6) 29%, rgba(29,108,87,0.6) 57%, 
    rgba(138,110,144,0.6) 71%, rgba(17,61,153,0.6) 100%);
    backdrop-filter: blur(5px);
    width:98vw;
    height:100vh;
    margin:auto;
    border:1px solid black;
}

#index-text{
    margin-top:18vh;
    display:flex;
    align-items: first baseline;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left:5vw;
}

.headline{
    font-size:130px;
    font-family: "alex_brushregular", ar;
    font-weight:bold;
    max-width:70%;
}

.subheadline{
    font-size:60px;
    font-family: "ralewaysemibold", arial;
    max-width:40%;
    margin-left:45vw;
}

@keyframes icon_hover{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}
